@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

body {
  background: #e5e5e5;
  font-family: "DM Sans", sans-serif;
  p {
    font-size: 14px;
  }
}
