@import "../Basestyles/variables.scss";

.exchangeCard {
  @include cardStyles();

  .first-row,
  .second-row {
    @include flexbox();
    justify-content: space-between;
  }
  .second-row {
    margin-top: 20px;
  }
  .right-col {
    width: 30%;
    div {
      float: right;
    }
  }
  .header {
    h4 {
      font-weight: 700;
      font-size: 20px;
    }
  }
  .today {
    @include flexbox();
    p,
    svg {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  .cardNumber {
    @include flexbox();
    .graph-container {
      svg {
        .axes {
          display: none;
        }
      }
    }
    h1 {
      color: #ff3a29;
      font-size: 32px;
      font-weight: bold;
    }
  }
}
